nav {
    background-color: #fff9f4;
}

nav img {
    width: 17rem;
}

nav .nav-link {
    font-weight: 500;
}

nav .nav-link:hover {
    color: #fa804c !important;
}

.navbar-toggler {
    color: #fa804c !important;
}