@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;400;500;700;900&display=swap");
body {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

h1, h2 {
    font-family: "Bebas Neue", cursive;
    color: #363958;
}


h2 {
    font-size: 48px;
}

h3 {
    font-family: 24px;
    color: #363958;
    font-weight: 600;
}

p {
    font-size: 16px;
    color: #3e3e3e;
}
